body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.app-main-layout {
  display: flex;
  flex-direction: column;
  align-items: center; /* 전체 콘텐츠를 중앙으로 정렬 */
  width: 100%;
}
